

.players{ 
    display: block;
    margin-left: auto;
    margin-right: auto;}


.ElfSection{
    background-image: url(Elven\ Kingdom\ \(1\).jpg);}


.TextElfforge{
    display: flex;
     justify-content: space-between;
     gap: 20px;
     font-size: larger; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Armani{
    flex: 1;
     padding: 30px;
     color: gold
}

.Vogue{
    flex: 1; padding:
     30px;color:
      maroon;
}

.Eldrin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size:x-large;
    margin-left: 100px;
    margin-right: 50px;
     
}
.EldrinSection{
background-image: url(images/Taihe.jpg);
}
